<!DOCTYPE html>
<html>
    <head>
        <title>Farol Wordpress Theme - Documentation</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="emoji.css">
        <link rel="stylesheet" type="text/css" href="github.css">
        <style>
			.markdown-body {
				box-sizing: border-box;
				min-width: 200px;
				max-width: 980px;
				margin: 0 auto;
				padding: 45px;
			}

			@media (max-width: 767px) {
				.markdown-body {
					padding: 15px;
				}
			}
		</style>
    </head>
    <body>
		<article class="markdown-body">
			<%= document %>
		</article>
    </body>
</html>