@charset "UTF-8";
@import "customVariables";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Oswald:400,700');

/*!
 * IE10 viewport hack for Surface/desktop Windows 8 bug
 * Copyright 2014-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

/*
 * See the Getting Started docs for more information:
 * http://getbootstrap.com/getting-started/#support-ie10-width
 */
@-ms-viewport     { width: device-width; }
@-o-viewport      { width: device-width; }
@viewport         { width: device-width; }


// MIXINS
// ======

@mixin blend($effect){
    -webkit-blend-mode: $effect;
    mix-blend-mode: $effect;
}


// GLOBAL COMPONENTS
// =================

// Icons
.icon{
    /* Lets the icon inherit the text color. */
    fill: currentColor;
    
    /* Inherit the text’s size too. Also allows sizing
    the icon by changing its font-size. */
    width: 1em;
    height: 1em;
    
    /* Nice visual alignment for icons alongside text.
    (I got a few questions about this and: with most
    fonts and styles, this works better than just
    vertical-align:middle. Try it and see what you
    like best. */
    vertical-align: -0.15em;
    
    /* Paths and strokes that overflow the viewBox can
    show in IE. If you use normalize.css, it already
    sets this. */
    overflow: hidden;
}

// Buttons
.btn{
    font-family: $font-family-monospace;
    text-transform: uppercase;
    border-width: .5rem;
    border-left-width: 3rem;
    @media (min-width: $screen-md-min) {
        font-size: 2rem;   
    }
}
button:focus {
    outline: none;
}
.btn-square, .btn-square:hover{
    
    position: relative;
    border: none;
    margin: 0;
    background-color: $brand-primary;
    color: $white;
    cursor: pointer;
    
    svg{
        position: relative; 
    }

    span{
        font-family: $font-family-monospace;
        text-transform: uppercase;
        margin: 0 auto;
        display: block;
        text-align: center;
        position: relative;
    }   
}
.btn-square-inverted, .btn-square-inverted:hover{
    background-color: $white;
    color: $brand-primary;
}
.btn-square{
    width: 10rem;
    height: 10rem;
    font-size: 6rem;    
    svg{
        top: -1.6rem;
    }
    span{
        top: -3rem;
        font-size: 1.2rem;
        line-height: 2.4rem;
    }
    @media (min-width: $screen-sm-min) {
        width: 15rem;
        height: 15rem;
        font-size: 8rem;    
        svg{
            top: -1rem;
        }
        span{
            top: -2.4rem;
            font-size: 1.2rem;
            line-height: 2.4rem;
        }        
    }
    @media (min-width: $screen-md-min) {
        width: 18rem;
        height: 18rem;
        font-size: 8rem;    
        svg{
            top: 0rem;
        }
        span{
            top: -1.2rem;
            font-size: 1.2rem;
            line-height: 2.4rem;
        }        
    }
}

// Titles
h4{
    font-family: $font-family-monospace;
    text-transform: uppercase;
}

// Featured-list
.featured-list{
    padding: 0;
    height: calc(100vh - 7rem);
    
    .featured-item{
        background-color: $gray-lightest;
        height: 50%;
        position: relative;
        
        .img-wrapper{
            border-left: 6rem solid $brand-primary;
            height: 50%;
            overflow: hidden;
            position: relative;
            @media (min-width: $screen-md-min) {
                border-left-width: 9rem;
            }

            .overlay{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba($brand-primary, .75);
                @include blend(soft-light);
            }
        }
        .card-block{
            height: 50%;
            float: left;
            border-left: 1px solid $brand-primary;
            margin-left: 2rem;
            padding: 5%;
            
            .card-title {
                margin: 0;
                
                a, a:hover{
                    color: $white;
                    text-decoration: none;
                    position: absolute;
                    font-size: 3.2rem;
                    top: 30%;
                    left: 4rem;
                    @media (min-width: $screen-md-min) {
                        font-size: 5rem;
                        top: 28%;
                        left: 5rem;
                    }
                }
                
            }
            .card-text{
                font-size: 1.5rem;
                @media (min-width: $screen-md-min) {
                    font-size: 2rem;
                }
            }
            .btn{
                float: right;
            }
        }
    }
}

// Card
.card{
    padding: 3rem 3rem 5rem 3rem;
    @media (min-width: $screen-md-min) {
        padding: 5rem;
    }
    @media (min-width: $screen-lg-min) {
        padding: 8rem;
    }    
    h3{
        padding: 0 0 3rem 0;
    }
    
    p{
        padding: 0 0 3rem 0;
        line-height: 3.3rem;
        
        mark{
            background-color: $brand-primary;
            color: $white;
        }        
    }
}

// Navbar
.navbar{
    
    .navbar-toggle, .navbar-toggle:hover{
        padding: 0;
        margin: 0;
        position: relative;
        float: left;
        width: 6rem;
        height: 6rem;
        border: none;
        font-size: 2.6rem;
        display: block;
    }
    .navbar-toggle[aria-expanded="false"]{
        background-color: transparent;
        border-right: 1px solid $gray-lighter;
        color: $gray; 
        
        .icon-hamburger{
            display: inline;
        }
        .icon-close{
            display: none;
        }   
        
    }
    .navbar-toggle[aria-expanded="true"]{
        background-color: $brand-primary;
        border-right: 1px solid $brand-primary;
        color: $white; 
        
        .icon-hamburger{
            display: none;
        }
        .icon-close{
            display: inline;
        }   
        
    }
    .navbar-brand, .navbar-brand:hover{
        font-size: 2.2rem;
        line-height: 2.2rem;
        text-transform: uppercase;
        b{
            font-weight: 700;
        }
    }
    .cart{
        font-family: $font-family-monospace;
        color: $brand-primary;
        letter-spacing: 1em;
        font-size: 1.8rem;
        line-height: 2rem;
        text-transform: uppercase;
        margin-right: 1.8rem;
        float: right;
        
        a{
            border: .3rem solid $brand-primary;
            color: $brand-primary;
            text-decoration: none;
            text-align: right;
            letter-spacing: .1em;
            padding: 0 .8rem 0 1rem;
            @media (min-width: $screen-md-min) {
                margin-left: -2rem;
            }
        }
    }
}

// Menu
#top-menu{
    background-color: $brand-primary;
    position: fixed;
    top: 6rem;
    left: 0;
    z-index: 1000;
    width: 100vw;

    .menu{
        padding: 6rem 0 0;
        position: relative;
        height: calc(100vh - 6rem);
        overflow: hidden;
        @media (min-width: $screen-md-min) {
            padding-top: 8.5rem;
            }
         
        .nav{
            z-index: 1020;
            position: relative;
            li{
                margin: 0;
                
                a{
                    color: $white;
                    font-family: $font-family-sans-serif;
                    font-weight: 700;
                    font-size: 3.8rem;
                    text-transform: uppercase;
                    width: 100%;
                    text-align: center;
                    position: relative;
                    color: rgba($white, .5);
                    @media (min-width: $screen-md-min) {
                        font-size: 5rem;
                        text-align: left;
                        padding-left: 8rem;
                    }
                    
                    .icon{
                        opacity: 0;
                        left: 0;
                    }
                }
                a:hover, a.active{
                    color: $brand-primary;
                    background-color: $gray-lightest;
                    transition: color .8s, background-color 1.5s;
                    @media (min-width: $screen-md-min) {
                        padding-left: 13rem;
                        // transition: padding-left .8s;
                    }
                    
                    .icon{
                        @media (min-width: $screen-md-min) {
                            color: $brand-primary;
                            transform: rotate(180deg);
                            font-size: 1.3em;
                            position: absolute;
                            top: 1.2rem;
                            left: 6rem;
                            opacity: 1;
                            transition: opacity .8s, left .8s;
                        }
                    }
                }
            }    
        }
        
        .indicator{
            font-family: $font-family-serif;
            font-size: 60rem;
            line-height: 60rem;
            font-weight: bold;
            color: rgba($white,.5);
            position: absolute;
            bottom: -9rem;
            right: -9rem;
            display: block;
            z-index: 1000;
            mask-image: gradient(linear, left top, left bottom, from(rgba($white,0.1)), to(rgba($white,1)));
            -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba($white,0.1)), to(rgba($white,1)));
            -moz-mask-image: -moz-gradient(linear, left top, left bottom, from(rgba($white,0.1)), to(rgba($white,1)));
            -ms-mask-image: -ms-gradient(linear, left top, left bottom, from(rgba($white,0.1)), to(rgba($white,1)));
        }
        
    }
    
}

// Sidebar Title
.page-label{
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 6rem;
    height: 100vh;
    background-color: $gray-lightest;
    border-right: 1px solid $gray-lighter;
    
    span{
        transform: rotate(-90deg);
        color: $black;
        font-family: $font-family-monospace;
        text-transform: uppercase;
        text-align: center;
        font-size: 1.6rem;
        line-height: 6rem;
        display: block;
        top: 50vh;
        position: relative;
        letter-spacing: 1.2em;
        
    }
}

// Page Content
.page{
    margin-top: 6rem;
    @media (min-width: $screen-md-min) {
        margin-left: 6rem;
    }
}

// Slider
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}
.slick-arrow.slick-hidden {
    display: none;
}

// IN-PAGE COMPONENTS
// ==================

// Home Hero (With Carousel)
#home-hero{
    position: relative;
    width: 100%;
    height: calc(100vh - 6rem);
    background-color: $gray-lighter;
    overflow: hidden;
    @media (min-width: $screen-md-min) {
        // width: calc(100vw - 6rem);
    }
    
    .imgcontainer {
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        overflow: hidden;
        background-size: cover;
        background-position: center;
        video{
            position: absolute;
            left: 50%;
            top: 50%;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            transform: translate(-50%,-50%);
        }
    }
    .curtain {
        height: 100%;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: rgba($black,1);
        display: none;
    }
    .overlay1 {
        @media (min-width: $screen-md-min) {
            height: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            overflow: hidden;
            background-color: rgba($white,.3);
            width: 25rem;
        }
    }
    .overlay2 {
        @media (min-width: $screen-md-min) {
            height: 100%;
            position: absolute;
            bottom: 0;
            left: 25rem;
            overflow: hidden;
            background-color: rgba($white,.2);
            width: 80rem;
        }
    }
    .overlay3 {
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        overflow: hidden;
        background-color: rgba($white,.6);
        opacity: 0;
        @media (min-width: $screen-md-min) {
            left: 16rem;
            height: 97%;
            width: 55%;
            min-width: 55rem;
        }
    }
    
    .carousel{
        position: relative;
        height: 100%;
        width: 100%;
        
        .slides {
            width: 100%;
            height: 75%;
            @media (min-width: $screen-md-min) {
                width: calc(100vw - 24rem);
                height: 100%;
                position: relative;
                float: left;
                border-right: 1px solid $gray-lighter;
            }
            .slick-list, .slick-track{
                height: 100%;
            }
            .slide{
                width: 100%;
                height: 100%;
                
                h2{
                    text-transform: uppercase;
                    margin: 0;
                    width: 100%;
                    height: 100%;
                    
                    .capital{
                        font-family: $font-family-serif;
                        font-size: 40rem;
                        color: rgba($white,.75);
                        position: absolute;
                        top: 4rem;
                        left: -1rem;
                        z-index: 100;
                        display: inline-block;
                        opacity: 0;
                        @media (min-width: $screen-md-min) {
                            font-size: 60rem;
                            top: auto;
                            bottom: -7rem;
                        }
                    }
                    
                    .text{
                        z-index: 101;
                        position: relative;
                        font-size: 2.6rem;
                        line-height: 4rem;
                        display: inline-block;
                        padding: 3rem;
                        top: 20rem;
                        text-align: center;
                        width: 100%;
                        opacity: 0;
                        @media (min-width: $screen-md-min) {
                            width: 60rem;
                            font-size: 3rem;
                            line-height: 5rem;
                            text-align: left;
                            padding-left: 23.5rem;
                            top: calc(100vh - 31.8rem);
                        }
                        @media (min-width: $screen-lg-min) {
                            width: 100rem;
                            font-size: 4.8rem;
                            line-height: 7rem;
                            text-align: left;
                            padding-left: 23.5rem;
                            top: calc(100vh - 33.8rem);
                        }
                    }
                }
                
                .meta{
                    position: absolute;
                    top: 0;
                    left: 0;
                    padding: 3.5rem 0 0 3.5rem;
                    width: 100%;
                    height: auto;
                    z-index: 120;
                    @media (min-width: $screen-md-min) {
                        padding: 0;
                    }
                    
                    .number{
                        font-family: $font-family-monospace;
                        font-size: 4.8rem;
                        line-height: 4.8rem;
                        height: 4.8rem;
                        color: $black;
                        width: 22%;
                        text-align: right;
                        display: inline-block;
                        opacity: 0;
                        @media (min-width: $screen-md-min) {
                            background-color: $brand-primary;
                            text-align: left;
                            color: $white;
                            font-size: 7.2rem;
                            line-height: 7.2rem;
                            height: auto;
                            width: auto;
                            padding: 5rem 1.2rem 1.2rem;
                            margin-left: 10rem;
                            float: left;
                            position: relative;
                        }
                    }
                    .tag{
                        font-size: 2rem;
                        font-weight: 700;
                        line-height: 3rem;
                        color: $brand-primary;
                        text-transform: uppercase;
                        border-bottom: 1px solid $brand-primary;
                        display: inline-block;
                        margin-top: 1.3rem;
                        width: 75%;
                        float: right;
                        opacity: 0;
                        @media (min-width: $screen-md-min) {
                            width: 30rem;
                            margin-top: 8rem;
                            float: left;
                            position: relative;
                            margin-left: 6rem;
                        }
                    }    
                }
                
            }
        }
        
        .navigation{
            margin: 0;
            width: 18rem;
            height: calc(100vh - 24rem);
            padding: 5rem 0 0;
            float: left;
            
            ul{
                margin: 0;
                padding: 0;
                
                li{
                    list-style-type: none;
                    margin-top: 2rem;
                    
                    button{
                        color: $white;
                        background-color: transparent;
                        font-family: $font-family-monospace;
                        font-size: 2.2rem;
                        border: none;
                        border-left: 1rem solid $white;
                        padding-left: 1rem;
                        padding-right: 4rem;
                        cursor: pointer;
                    }
                }
                
                li.slick-active button, button:hover{
                    color: $brand-primary;
                    border-left-color: $brand-primary;
                    text-decoration: none;
                    transition: color .6s, border-left-color .6s;
                }
            }

        }
        
        .btns{
            margin: 0;
            width: 33.3%;
            height: 25%;
            padding-top: 1.7rem;
            position: relative;
            float: left;

            @media (min-width: $screen-md-min) {
                width: 18rem;
                height: 18rem;
                padding-top: 3.5rem;
                background-color: $brand-primary;
            }
            
            .icon{
                display: block;
                margin: 0 auto;
            }
        }
        
        .forward a{
            color: $gray;
            font-size: 8rem;
            
            .icon{
                transform: rotate(180deg);
            }
        }
        
        .backward a{
            color: $gray;
            font-size: 8rem;
        }
        
        .target a, .target a:hover{
            color: $brand-primary;
            font-size: 8rem;
            cursor: pointer;
            @media (min-width: $screen-md-min) {
                color: $white;
            }
            
            span{
                font-size: 1.2rem;
                line-height: 2.4rem;
                font-family: $font-family-monospace;
                text-transform: uppercase;
                margin: 0 auto;
                display: block;
                text-align: center;
            }
        }
        
    }
    
    .loader{
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        @media (min-width: $screen-md-min) {
            top: auto;
            bottom: 17.7rem;
        }
        
        .wrapper{
            width: 100%;
            height: .5rem;
            position: relative;
            
            .trail{
                background-color: $gray-lighter;
                width: 100%;
                height: .1rem;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 100;
                @media (min-width: $screen-md-min) {
                    top: .2rem;
                }
            }
            .progress{
                background-color: $gray;
                width: 0;
                opacity: 0;
                height: .5rem;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 101;
            }
            
        }
    }
        
}

// Services
.services{
    background-color: rgba($brand-primary,1);
    min-height: calc(100vh - 6rem);
    overflow: hidden;
    background-image: url('../content/pexels-photo-243747.jpeg');
    background-position: center center;
    background-size: cover;
    background-blend-mode: multiply;

    h3{
        color: $white;
        margin: 0;
        margin-left: 3rem;
        border-left: 2rem solid $white;
        padding: 4rem 2rem 0 2rem;
        font-size: 3rem;
        position: relative;
        margin-bottom: 12rem;
        z-index: 130;
        @media (min-width: $screen-sm-min) {
            font-size: 4rem;
            width: 50%;
        }
        @media (min-width: $screen-md-min) {
            font-size: 5rem;
            width: 40%;
        }
    }
    .service-list{
        border-top: 1px solid $white;
        margin: 0 0 0 3rem;
        color: $white;
        padding-top: 4rem;
        position: relative;
        z-index: 130;
        bottom: 0;
        position: absolute;

        @media (min-width: $screen-sm-min) {
            padding-top: 0;
            right: calc( -3rem - 16.66667%);
        }
        
        @media (min-width: $screen-md-min) {
            right: calc( -3.5rem - 16.66667%);
        }
        @media (min-width: $screen-lg-min) {
            right: calc( -4rem - 16.66667%);
        }

        div{
            padding: 0;
            
            p{
                padding-right: 3rem;
                margin-bottom: 2.5rem;
                font-size: 1.3rem;
                @media (min-width: $screen-sm-min) {
                    font-size: 1.4rem;
                    line-height: 3rem;
                    margin-top: 2.5rem;
                    margin-bottom: 0;
                }
            }
        }
        div:first-child{
            margin-top: 6rem;
            @media (min-width: $screen-sm-min) {
                margin-top: 0;
            }
        }

        .btn{
            float: right;
        }
    }
}

// Slider
#slider{
    position: relative;
    float: left;
    background-color: $gray-lightest;
    @media (min-width: $screen-sm-min) {
        height: calc(80vh - 7rem);    
    }
    
    .presentation{
        padding-bottom: 3.5rem;
        @media (min-width: $screen-sm-min) {
            border-left: 1px solid $gray-lighter;
            height: 100%;
            padding-bottom: 0;
        }
        
        
        .detail-top{
            position: absolute;
            top: 0;
            right: 0;
            width: calc( 100% - 3rem );
            background-color: $brand-primary;
            height: 8rem;
            z-index: 200;
            @media (min-width: $screen-sm-min) {
                height: 10rem;
                width: calc( 100% - 8rem );
            }
        }
        
        .carousel{
            position: relative;
            height: 100%;
            
            .slides{
                list-style-type: none;
                padding: 0;
                z-index: 210;
                position: relative;
                
                li{
                    padding-top: 5rem;
                    position: relative;
                    @media (min-width: $screen-md-min) {
                        padding-top: 6.5rem;
                    }

                    .img-wrapper{
                        display: block;
                        width: 220px;
                        height: 300px;
                        overflow: hidden;
                        margin: 0 auto;
                        position: relative;
                        background-color: $gray-light;
                        @media (min-width: $screen-md-min) {
                            width: 300px;
                            height: 380px;
                        }
                        
                        img{
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%,-50%);
                            
                        }
                    }
                    
                    .indicator, .indicator:hover{
                        position: absolute;
                        bottom: -4.5rem;
                        left: 50%;
                        font-family: $font-family-serif;
                        font-size: 22rem;
                        text-decoration: none;
                        transform: translate(-19rem, 0);
                        @media (min-width: $screen-md-min) {
                            font-size: 30rem;
                            bottom: -5rem;
                            transform: translate(-26rem, 0);
                        }
                    }
                }
            }
            .navigation{
                list-style-type: none;
                padding: 0;
                position: absolute;
                bottom: -6rem;
                left: 50%;
                transform: translate(-50%, 0);
                display: flex;
                z-index: 220;
                
                @media (min-width: $screen-sm-min) {
                    top: 5rem;
                    left: -15px;
                    transform: translate(0,0);
                    display: block;
                    bottom: auto;
                }

                li{
                    float: left;
                    @media (min-width: $screen-sm-min) {
                        float: none;
                    }

                    a{
                        display: block;
                        background-color: $gray-lighter;
                        width: 3rem;
                        height: 1rem;
                        margin-right: 1rem;
                        overflow: hidden;
                        color: transparent;
                        @media (min-width: $screen-sm-min) {
                            width: 4rem;
                            height: 3rem;
                            background-color: transparent;
                            margin: 2rem 0;
                            color: $gray-lighter;
                            border-left: 1rem solid $gray-lighter;
                            font-family: $font-family-monospace;
                            font-size: 1.6rem;
                            line-height: 3rem;
                            text-transform: uppercase;
                            padding-left: .5rem;
                        }
                        
                    }
                    a:hover, a.active{
                        text-decoration: none;
                        background-color: $brand-primary;
                        @media (min-width: $screen-sm-min) {
                            border-left: 1rem solid $brand-primary;
                            background-color: transparent;
                            color: $brand-primary;
                        }
                    }
                }
            }
            .pagination-next{
                color: $brand-primary;
                transform: rotate(-90deg);
                font-size: 6rem;
                position: absolute;
                bottom: 0;
                left: -51px;
                z-index: 220;
                background-color: transparent;
                border: none;
            }
        }
    }
}

// Costumer list
#costumer-list{
    background-color: $white;
    float: left;
    width: 100%;
    
    .title-img{
        height: 15rem;
        background-image: url('../content/pexels-photo-165907.jpeg');
        background-position: center center;
        background-size: cover;
        @media (min-width: $screen-sm-min) {
           height: 18rem; 
           border-bottom: 1px solid $brand-primary;
        }
    }
    .title{
        position: relative;
        @media (min-width: $screen-sm-min) {
            height: 18rem; 
           border-bottom: 1px solid $brand-primary;
        }
        
        h5{
            background-color: $brand-primary;
            line-height: 10rem;
            color: $white;
            text-align: center;
            margin: 0 -15px;
            @media (min-width: $screen-sm-min) {
                position: absolute;
                bottom: 0;
                left: 5rem;
                width: 100%;
            }
            @media (min-width: $screen-md-min) {
                width: 100%;
                font-size: 3.2rem;
                left: 7rem;
            }
        }    
    }
    
    .carousel{
        float: left;
        width: 100%;
        position: relative;
        
        .slides{
            list-style-type: none;
            padding: 10rem;
            margin: 0 0 3rem 0;
            border-bottom: 1px solid $brand-primary;
            @media (min-width: $screen-sm-min) {
                margin: 0 0 5rem 0;
            }

            li{
                .img-wrapper{
                    position: relative;
                    
                    .overlay{
                        display: block;
                        background-color: rgba($brand-primary, 1);
                        @include blend(color);
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
        .pagination-prev{
            background-color: transparent;
            font-size: 8rem;
            border: none;
            color: $brand-primary;
            position: absolute;
            top: 7rem;
            left: 0;

        }
        .pagination-next{
            background-color: transparent;
            font-size: 8rem;
            color: $brand-primary;
            border: none;
            transform: rotate(-180deg);
            position: absolute;
            top: 7rem;
            right: 0;
        }
    }
}

// Equipment
#equipment{
    float: left;
    width: 100%;
    @media (min-width: $screen-sm-min) {
        height: 90vh;
    }
    
    .content{
        height: 100%;
        background-image: url('../content/pexels-photo-66134.jpeg');
        background-position: center center;
        background-size: cover;
        position: relative;
        
        .overlay{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($brand-primary, 1);
            @include blend(color);
            z-index: 200;
        }
        .overlay2{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($brand-primary, .8);
            z-index: 210;
        }
        h3, p{
            color: $white;
            z-index: 220;
            position: relative;
        }
        .btn{
            z-index: 220;
            position: relative; 
        }

    }
    
    .img{
        height: 100%;
        background-image: url('../content/pexels-photo-28855.jpg');
        background-position: center center;
        background-size: cover;
        position: relative;
        
        .overlay{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($gray-lighter, 1);
            @include blend(color); 
        }
        .overlay2{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($gray-lighter, .8);
        }
    }
}

// Footer
#footer{
    width: 100%;
    float: left;
    background-color: $black;
    position: relative;
    overflow: hidden;
    @media (min-width: $screen-sm-min) {
        padding: 4rem;
    }
    @media (min-width: $screen-md-min) {
        padding: 5rem;
    }
    
    .menu{
        margin-top: 1.5rem;
        padding:0;
        @media (min-width: $screen-sm-min) {
            margin-top: 0;
        }
        
        li{
            a, a:hover{
                border-bottom: 1px solid $gray-light;
                text-transform: uppercase;
                color: $white;
                text-align: left;
                font-size: 3.2rem;
                line-height: 5rem;
                font-family:$font-family-sans-serif;
                background-color: transparent;
                position: relative;
                padding-left: 7.5rem;
                @media (min-width: $screen-sm-min) {
                    font-size: 2rem;
                    line-height: 5rem;
                    font-family:$font-family-sans-serif;
                    background-color: transparent;
                    position: relative;
                    padding-left: 5.5rem;
                }
                @media (min-width: $screen-md-min) {
                    font-size: 2.4rem;
                    line-height: 5.8rem;
                }
                
                .icon{
                    color: $brand-primary;
                    transform: rotate(180deg);
                    font-size: 1.5em;
                    position: absolute;
                    top: 1rem;
                    left: 1.5rem;
                    display: block;
                    @media (min-width: $screen-sm-min) {
                        font-size: 2em;
                        top: 1.4rem;
                    }
                }
            }
            a:hover{
                color:$brand-primary;
            }
            
        }
        li:last-child{
            a{
                border-bottom: 0;
            }
        }
        li:first-child{
            a{
                @media (min-width: $screen-sm-min) {
                    padding-left: 4rem;    
                }
                 
                .icon{
                    @media (min-width: $screen-sm-min) {
                        left: 0; 
                    }
                }
            }
        }
        
    }
    
    .social-media{
        padding: 0;
        position: relative;
        height: 12rem;
        @media (min-width: $screen-sm-min) {
            border-bottom: 1px solid $gray-light;
            height: 7.1rem;
        }
        @media (min-width: $screen-md-min) {
            height: 7.9rem;
        }
        
        ul{
            list-style-type: none;
            padding: 0;
            display: flex;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            @media (min-width: $screen-sm-min) {
                display: block;
                width: 100%;
            }
            
            li{
                float: left;
                margin: 0 1rem;
                @media (min-width: $screen-sm-min) {
                    margin: 0;
                    float: right;
                }
                a{
                    display: block;
                    width: 7rem;
                    height: 7rem;
                    overflow: hidden;
                    position: relative;
                    @media (min-width: $screen-sm-min) {
                        width: 3.6rem;
                        height: 3.6rem;
                    }
        
                    .icon{
                        background-color: $white;
                        font-size: 11rem;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        @media (min-width: $screen-sm-min) {
                            font-size: 5.7rem;
                        }
                    }
                    .icon-instagram{
                        color: #C536A4;
                    }
                    .icon-twitter{ 
                        color: #50ABF1;
                    }
                    .icon-facebook{ 
                        color: #3A559F;
                    }            
                }    
            }
            
        }

    }
    
    .logo{
        margin-top: 2rem;
        @media (min-width: $screen-sm-min) {
            padding: 0;
        }
        @media (min-width: $screen-lg-min) {
            margin-top: 4rem;
        }
        
        a{
            font-family: $font-family-sans-serif;
            color: $white;
            font-size: 2.4rem;
            text-align: center;
            text-transform: uppercase;
            display: block;
            @media (min-width: $screen-sm-min) {
                font-size: 1rem;
                text-align: left;
                line-height: 2.5rem;
            }
            @media (min-width: $screen-lg-min) {
                font-size: 1.4rem;
            }
        }
    }
    
    .copyright{
        padding-bottom: 4rem;
        padding-top: 2rem;
        @media (min-width: $screen-sm-min) {
            padding: 0;
            margin-top: 2rem;
        }
        @media (min-width: $screen-lg-min) {
            margin-top: 4rem;
        }
        
        a{
            display: block;
            color: $white;
            text-transform: uppercase;
            font-size: 1.2rem;
            text-align: center;
        }
        span{
            display: block;
            color: $white;
            text-transform: uppercase;
            font-size: 1.2rem;
            text-align: center;
        }
        p{
            font-size: 1rem;
            color: $white;
            text-align: center;
            @media (min-width: $screen-lg-min) {
                font-size: 1.4rem;
            }
            
            a, span{
                display: inline;
                font-size: 1rem;
                line-height: 2.5rem;
                @media (min-width: $screen-lg-min) {
                font-size: 1.4rem;
            }
            }
        }
    }
    
    .contact-us{
        padding: 0;
        margin-top: 2rem;
        @media (min-width: $screen-lg-min) {
            margin-top: 4rem;
        }

        a{
            display: block;
            color: $white;
            text-transform: uppercase;
            font-size: 1rem;
            line-height: 2.5rem;
            text-align: center;
            float: right;
            @media (min-width: $screen-lg-min) {
                font-size: 1.4rem;
            }
        }
    }
}